name: Build_Android_APK

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - uses: meteorengineer/setup-meteor@v1
      with:
        meteor-release: '1.8.1'
    - run: meteor npm install
    - run: meteor npm test

    - name: Run install_android.sh script to install and configure the necessary packages to build android apk  
      run: ./mobile/android/install_android.sh

